{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Welcome to index Task</title>
{% endblock title %}

  {% block content %}
    <div class="container">
       <div class="row mt-5">
          <div class="col-lg-4">
            <image src="{% static 'images/notes.jpg' %}" alt="Note" class="rounded-lg shadow " width="360" height="250">
          </div>

          <div class="col-lg-4">
            <image src="{% static 'images/2.jpg' %}" alt="Note" class="rounded-lg shadow " width="360" height="250">
          </div>

          <div class="col-lg-4">
            <image src="{% static 'images/3.jpg' %}" alt="Note" class="rounded-lg shadow " width="360" height="250">
          </div>

        </div>
    <div class="row mt-5">
        <div class="col-md-10 offset-md-1">
            <center><p class="h1">Quick and easy to use anywhere,anytime</p></center>
            <center><p class="h2 mt-3">Plan your day better, get your life organized</p></center>
            <center><p class="h5">Taskmate lets you keep track of your task in one place</p></center>

            <center><a href="{% url 'mylist' %}"><button type="button" class="btn btn-primary btn-lg mt-3">Let's Get started</button></a></center>

        </div>   
    </div> 
   </div>
  {% endblock content %}